<div class="achievements box-shadow">
    <h2 class="achievements__title bigger">
        <span>Наши</span>
        Достижения
    </h2><!-- /achievements__title -->
    <div class="achievements__symbol">
    </div><!-- /achievements__symbol -->
    <ul class="achievements__list">
        <li class="achievements__list-item">
            <span>Увеличили <br>ROI на</span>
            <div class="achievements__list-item-data">
                43%
            </div>
        </li><!-- /achievements__list-item -->

        <li class="achievements__list-item">
            <span>Увеличили <br>продажи</span>
            <div class="achievements__list-item-data">
                110%
            </div>
        </li><!-- /achievements__list-item -->

        <li class="achievements__list-item">
            <span>Проанализровали кампаний</span>
            <div class="achievements__list-item-data">
                500+
            </div>
        </li><!-- /achievements__list-item -->

        <li class="achievements__list-item">
            <span>Внедрили сквозную аналитику</span>
            <div class="achievements__list-item-data">
                37
                <span class="subdata">клиентам</span>
            </div>
        </li><!-- /achievements__list-item -->
    </ul><!-- /achievements__list -->
    <div class="achievements__footnote">
        в среднем по всем клиентам агентства
    </div>
</div><!-- /achievements -->