<div class="achievements">
    <h2 class="achievements__title">
        <span>Наши</span>
        Достижения
    </h2><!-- /achievements__title -->
    <div class="achievements__symbol">
        ARROW
    </div><!-- /achievements__symbol -->
    <ul class="achievements__list">
        <li class="achievements__list-item">
            Увеличили ROI на
            <div class="achievements__list-item-data">
                43%
            </div>
        </li><!-- /achievements__list-item -->

        <li class="achievements__list-item">
            Увеличили продажи
            <div class="achievements__list-item-data">
                110%
            </div>
        </li><!-- /achievements__list-item -->

        <li class="achievements__list-item">
            Проанализровали кампаний
            <div class="achievements__list-item-data">
                500+
            </div>
        </li><!-- /achievements__list-item -->

        <li class="achievements__list-item">
            Внедрили сквозную аналитику
            <div class="achievements__list-item-data">
                37
                <span>клиентам</span>
            </div>
        </li><!-- /achievements__list-item -->
    </ul><!-- /achievements__list -->
    <div class="achievements__footnote">
        * в среднем по всем клиентам агентства
    </div>
</div><!-- /achievements -->