<div class="audit-request">
    <h2 class="audit-request__title">
            Бесплатный аудит
        <span>
            Рекламной компании
        </span>
    </h2><!-- /audit-request__title -->

    <div class="form-container">
        <div class="basic-form">
            <div class="basic-form__row-inputs">
                <div class="basic-form__input-box">
                    <input type="text" value="Адрес сайта">
                </div><!-- basic-form__input-box -->
                
                <div class="basic-form__input-box">
                    <input type="text" value="Номер телефона">
                </div><!-- basic-form__input-box -->
                
                <div class="basic-form__input-box">
                    <button class="button">
                        Отправить заявку
                    </button>
                </div><!-- basic-form__input-box -->
            </div><!-- /basic-form__row-inputs -->
            
            <div class="basic-form__input-confirm">
                <label>
                    <input type="checkbox">
                    Согласие на обработку персональных данных
                </label>    
            </div><!-- /basic-form__input-confirm -->
        </div><!-- /basic-form -->
    </div><!-- /form-container -->
</div><!-- /audit-request -->