<div class="blog-card">
    <div class="blog-card__image">
        <img src="images/temp/blog-pic-1.png" alt="">
    </div><!-- /blog-card__image -->
    <div class="blog-card__content">
        <ul class="metainfo blog-card__metainfo">
            <li class="metainfo__item metainfo__date">
                <svg class="metainfo__icon metainfo__icon_date">
                    <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-date">
                </svg>
                <span>
                    10 марта 2019
                </span>
            </li><!-- /metainfo__date -->

            <li class="metainfo__item metainfo__views">
                <svg class="metainfo__icon metainfo__icon_views">
                    <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-eye">
                </svg>
                <span>
                    52
                </span>
            </li><!-- /metainfo__views -->

            <li class="metainfo__item metainfo__comments">
                <svg class="metainfo__icon metainfo__icon_comments">
                    <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-baseline-chat">
                </svg>
                <span>
                    23
                </span>
            </li><!-- /metainfo__comments -->
        </ul><!-- /metainfo -->
        <h4 class="blog-card__title">
            Успеть за 8 часов: как совместить работу, учёбу
            и не сойти с ума
        </h4><!-- /blog-card__title -->
        <span class="blog-card__author">
            Александр Деканов
        </span><!-- /blog-card__title -->
        <a href="#" class="blog-card__read">
            Читать 7 минут
        </a><!-- /blog-card__title -->
    </div><!-- /blog-card__content -->
</div><!-- /blog-card -->