<div class="comments">
    <h2 class="comments__title">
        Комментарии: 4
    </h2><!-- /comments__title -->
    <div class="comments__form-container">
        <div class="comments__textarea-box">
            <textarea name="" id="" class="comments__textarea comments__textarea_top">
            </textarea>
        </div><!-- /comments__textarea-box -->
    </div><!-- /comments__textarea-wrapper -->
    <div class="comments__body">
        <ul class="comments__list">
            <li class="comments-post">
                <div class="comments-post__container">
                    <div class="comments-post__header">
                        <span class="comments-post__avatar">
                            <img src="images/temp/comments-avatar-1.png" alt="">
                        </span>
                        <div class="comments-post__header-content">
                            <span class="comments-post__author">
                                Vadim Zhdanov
                            </span>
                            <span class="comments-post__date">
                                2 часа назад
                            </span>
                        </div><!-- comments-post__header-content -->
                    </div><!-- /comments-post__header -->
                    <div class="comments-post__body">
                        Вот как клиент могу честно
                        сказать, что каждую из этих копеек он заслужил сполна
                    </div><!-- /comments-post__body -->
                    <span class="comments-post__reply">
                        Ответить
                    </span><!-- /reply -->
                </div><!-- /comments-post__container -->

                <ul class="comments__list comments__list_deep">
                    <li class="comments-post">
                        <div class="comments-post__container">
                            <div class="comments-post__header">
                                <span class="comments-post__avatar comments-post__avatar_deep">
                                    <img src="images/temp/comments-avatar-2.png" alt="">
                                </span>
                                <div class="comments-post__header-content comments-post__header-content_deep">
                                    <span class="comments-post__author">
                                        Павел
                                    </span>
                                    <span class="comments-post__publisher-author">
                                        &#8592 Vadim Zhdanov
                                    </span>
                                    <span class="comments-post__date">
                                        2 часа назад
                                    </span>
                                </div><!-- comments-post__header-content -->
                            </div><!-- /comments-post__header -->
                            <div class="comments-post__body">
                                Вот как клиент могу честно
                                сказать, что каждую из этих копеек он заслужил сполна
                            </div><!-- /comments-post__body -->
                            <span class="comments-post__reply">
                                Ответить
                            </span><!-- /reply -->
                        </div><!-- /comments-post__container -->
                    </li><!-- /comments-post -->

                    <li class="comments-post">
                        <div class="comments-post__container">
                            <div class="comments-post__header">
                                <span class="comments-post__avatar comments-post__avatar_deep">
                                    <img src="images/temp/comments-avatar-3.png" alt="">
                                </span>
                                <div class="comments-post__header-content comments-post__header-content_deep">
                                    <span class="comments-post__author">
                                        Михаил
                                    </span>
                                    <span class="comments-post__publisher-author">
                                        &#8592 Vadim Zhdanov
                                    </span>
                                    <span class="comments-post__date">
                                        2 часа назад
                                    </span>
                                </div><!-- comments-post__header-content -->
                            </div><!-- /comments-post__header -->
                            <div class="comments-post__body">
                                Вот как клиент могу честно
                                сказать, что каждую из этих копеек он заслужил сполна
                            </div><!-- /comments-post__body -->
                            <span class="comments-post__reply">
                                Ответить
                            </span><!-- /reply -->
                        </div><!-- /comments-post__container -->
                    </li><!-- /comments-post -->
                </ul><!-- /comments__list_deep -->
            </li><!-- /comments-post -->

            <li class="comments-post">
                <div class="comments-post__container">
                    <div class="comments-post__header">
                        <span class="comments-post__avatar">
                            <img src="images/temp/comments-avatar-4.png" alt="">
                        </span>
                        <div class="comments-post__header-content">
                            <span class="comments-post__author">
                                Антон Петров
                            </span>
                            <span class="comments-post__date">
                                2 часа назад
                            </span>
                        </div><!-- comments-post__header-content -->
                    </div><!-- /comments-post__header -->
                    <div class="comments-post__body">
                        Вот как клиент могу честно
                        сказать, что каждую из этих копеек он заслужил сполна
                    </div><!-- /comments-post__body -->
                    <span class="comments-post__reply">
                        Ответить
                    </span><!-- /reply -->
                </div><!-- /comments-post__container -->
            </li><!-- /comments-post -->
        </ul><!-- /comments__list -->
    </div><!-- /comments__body -->
    <div class="comments__form-container">
        <div class="comments__textarea-box">
            <textarea name="" id="" class="comments__textarea comments__textarea_bottom">
            </textarea>
        </div><!-- /comments__textarea-box -->
        <div class="comments__actions-form comments__actions-form_reply">
            <div class="comments__btn-group">
                <button class="button button_transparent text-gray">
                    Отменить
                </button>
                <button class="button button_lightblue">
                    Ответить
                </button>
            </div><!-- /comments__btn-group -->
        </div><!-- /comments__actions-form -->
    </div><!-- /comments -->