<div class="company-status">
    <h2 class="company-status__title">
        <span>Сертифицированный</span>
        Партнёр
    </h2><!-- /company-status__title -->
    <div class="company-status__content">
        <ul class="company-status__list">
            <li class="company-status__list-item">
                <div class="company-status__list-item-data">
                    9.46%
                </div>
                Коэффицент кликабельности на поиске
            </li><!-- /company-status__list-item -->

            <li class="company-status__list-item">
                <div class="company-status__list-item-data">
                    95%
                </div>
                Доля клиентов с тматическми площадками
            </li><!-- /company-status__list-item -->

            <li class="company-status__list-item">
                <div class="company-status__list-item-data">
                    +113%
                </div>
                Показатель роста компании
            </li><!-- /company-status__list-item -->
        </ul><!-- /company-status__list -->
        <div class="company-status__emblem-container">
            <figure class="company-status__emblem company-status__emblem_yandex">
                YandexDirect
            </figure>
            <figure class="company-status__emblem company-status__emblem_google">
                GoogleAswords
            </figure>
        </div><!-- /company-status__emblem-container -->
    </div><!-- /company-status__content -->
</div><!-- /company-status -->