<div class="company-status">
    <h2 class="company-status__title">
        <span>Сертифицированный</span>
        Партнёр
    </h2><!-- /company-status__title -->
    <div class="company-status__content">
        <div class="company-status__info-container">
            <div class="company-status__info-box">
                <h4 class="company-status__info-statistics">
                    9.46%
                </h4>
                <p class="company-status__info-desc">
                    Коэффицент кликабельности на поиске
                </p>
            </div><!-- /company-status__info-box -->

            <div class="company-status__info-box">
                <h4 class="company-status__info-statistics">
                    95%
                </h4>
                <p class="company-status__info-desc">
                    Доля клиентов с тматическми площадками
                </p>
            </div><!-- /company-status__info-box -->

            <div class="company-status__info-box">
                <h4 class="company-status__info-statistics">
                    +113%
                </h4>
                <p class="company-status__info-desc">
                    Показатель роста компании
                </p>
            </div><!-- /company-status__info-box -->
        </div><!-- /company-status__info-container -->
        <div class="company-status__emblem-container">
            <figure class="company-status__emblem company-status__emblem_yandex">
                YandexDirect
            </figure>
            <figure class="company-status__emblem company-status__emblem_google">
                GoogleAswords
            </figure>
        </div><!-- /company-status__emblem-container -->
    </div><!-- /company-status__content -->
</div><!-- /company-status -->