<header class="header">
    <div class="logo header__logo">
        <a href="#">
            <svg class="logo__icon">
                <use xlink:href="images\svg\symbol\spriteOrigin.svg#omg-media-svg-logo">
            </svg>
            <svg class="logo__icon-mobile">
                <use xlink:href="images\svg\symbol\spriteOrigin.svg#omg-media-svg-logo-mobile">
            </svg>
        </a>
    </div><!-- /header__logo -->

    <nav class="nav header__nav">
        <ul class="nav__list">
            <li class="nav__list-item ">
                <a href="#" class="nav__list-item-link nav__list-item-link_selected">
                    Контекстная реклама
                </a>
            </li>
            <li class="nav__list-item">
                <a href="#" class="nav__list-item-link">
                    Медийная реклама
                </a>
            </li>
            <li class="nav__list-item">
                <a href="#" class="nav__list-item-link">
                    Маркетплейсы
                </a>
            </li>
            <li class="nav__list-item">
                <a href="#" class="nav__list-item-link">
                    Вебаналитика
                </a>
            </li>
        </ul><!-- /nav__list -->
    </nav><!-- /header__nav -->

    <a href="tel: +74955255583" class="header__tel button button_blue">
        +7 (495) 525-55-83
    </a><!-- /header__tel -->

    <div class="header__menu">
        <svg class="menu-icon">
            <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-hamburger">
        </svg>
    </div>
</header>