<header class="header">
    <!-- header__logo -->
    <a href="#" class="logo header__logo"> 
        <span class="logo__item_1">OMG</span>
        <span class="logo__item_2">me<br>dia</span>
    </a>
    <!-- /header__logo -->

    <!-- header__nav -->
    <nav class="nav header__nav">
        <ul class="nav__list nav__list_flex text-uppercase">
            <li class="nav__list-item ">
                <a href="#" class="nav__list-item-link nav__list-item-link_selected">
                    Контекстная реклама
                </a>
            </li>
            <li class="nav__list-item">
                <a href="#" class="nav__list-item-link">
                    Медийная реклама
                </a> 
            </li>
            <li class="nav__list-item">
                <a href="#" class="nav__list-item-link">
                    Маркетплейсы
                </a> 
            </li>
            <li class="nav__list-item">
                <a href="#" class="nav__list-item-link">
                    Вебаналитика
                </a> 
            </li>
        </ul><!-- /nav__list -->
    </nav>
    <!-- /header__nav -->

    <!-- header__tel -->
    <a href="tel: +74955255583" class="button button_blue">
        +7 (495) 525-55-83
    </a>
    <!-- /header__tel -->
</header>