<div class="head-teaser">
    <div class="head-teaser__hero">
        <img src="images/team-person-1.png" alt="">
    </div><!-- /head-teaser__hero -->
    <div class="head-teaser__content">
        <h2 class="head-teaser__title">
            <span>Горячие клиенты</span>
            Для Вашего бизнеса!
        </h2><!-- /head-teaser__title -->
        <div class="head-teaser__button">
            <button class="button">
                Бесплатная консультация
            </button>
        </div><!-- /head-teaser__button -->
    </div><!-- /head-teaser__content -->
</div><!-- /head-teaser -->