<footer class="main-footer">
    <div class="main-footer__content">
        <h2 class="main-footer__title">
            <span>Необходимо</span>
            Обсудить проект?
        </h2><!-- /main-footer__title -->
        <div class="main-footer__box">
            <div class="main-footer__contacts-box">
                <a href="tel: 89295255583" class="main-footer__contacts main-footer__contacts_tel">
                    <svg class="main-footer__svg main-footer__svg_tel">
                        <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-tel">
                    </svg>
                    8 929 525 55 83
                </a><!-- /main-footer__contacts -->
                <a href="mailto:hello@omgmedia.ru" class="main-footer__contacts main-footer__contacts_email">
                    <svg class="main-footer__svg main-footer__svg_email">
                        <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-email">
                    </svg>
                    hello@omgmedia.ru
                </a><!-- /main-footer__contacts -->
                <span class="main-footer__contacts main-footer__contacts_adress">
                    <svg class="main-footer__svg main-footer__svg_adress">
                        <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-map-marker">
                    </svg>
                    Москва, ул. Авиамоторная, д.8, стр 39
                </span><!-- /main-footer__contacts -->
            </div><!-- /main-footer__contacts-box -->
            <div class="basic-form">
                <div class="basic-form__row-inputs">
                    <div class="basic-form__input-box">
                        <input type="text" value="МАСКА +7 (">
                    </div><!-- basic-form__input-box -->

                    <div class="basic-form__input-box">
                        <button class="button">
                            Обратный звонок
                        </button>
                    </div><!-- basic-form__input-box -->
                </div><!-- /basic-form__row-inputs -->

                <div class="basic-form__input-confirm">
                    <label>
                        <input type="checkbox">
                        Согласие на обработку персональных данных
                    </label>
                </div><!-- /basic-form__input-confirm -->
            </div><!-- /basic-form -->
        </div><!-- /main-footer__box -->
    </div><!-- /main-footer__content -->
    <div class="main-footer__copyrights">
        © OMGMedia.ru
    </div><!-- /main-footer__copyrights -->
</footer><!-- /main-footer -->