<div class="metainfo">
    <span class="metainfo__author">
        <img class="metainfo__author-pic" src="images/temp/article-author.png" alt="Александр Деканов">
        <span>
            Александр Деканов
        </span>
    </span><!-- /metainfo__author -->

    <span class="metainfo__category">
        <svg class="metainfo__icon metainfo__icon_category">
            <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-category">
        </svg>
        <span>
            Контекстная реклама
        </span>
    </span><!-- /metainfo__category -->

    <span class="metainfo__date">
        <svg class="metainfo__icon metainfo__icon_date">
            <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-date">
        </svg>
        <span>
            10 марта 2019
        </span>
    </span><!-- /metainfo__date -->
    
    <span class="metainfo__views">
        <svg class="metainfo__icon metainfo__icon_views">
            <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-eye">
        </svg>
        <span>
            52
        </span>
    </span><!-- /metainfo__views -->
    
    <span class="metainfo__comments">
        <svg class="metainfo__icon metainfo__icon_comments">
            <use xlink:href="images\svg\symbol\sprite.svg#omg-media-svg-baseline-chat">
        </svg>
        <span>
            23
        </span>
    </span><!-- /metainfo__comments -->
</div><!-- /metainfo -->