<div class="partner-section-wrapper">
    <div class="partner-section">
        <div class="partner-section__carousel">
            <div class="partner-section__carousel-item">
                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-1.png" alt="">
                </div><!-- /partner-section__clients -->

                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-2.png" alt="">
                </div><!-- /partner-section__clients -->

                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-3.png" alt="">
                </div><!-- /partner-section__clients -->

                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-4.png" alt="">
                </div><!-- /partner-section__clients -->

                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-5.png" alt="">
                </div><!-- /partner-section__clients -->
            </div><!-- /partner-section__carousel-item -->
        </div><!-- /partner-section__carousel -->
    </div><!-- /partner-section -->

    <div class="partner-section partner-section_mobile">
        <h2 class="partner-section__title bigger">
            <span class="smaller">
                Нам
            </span>
            Доверяют
        </h2>
        <div class="partner-section__carousel">
            <div class="partner-section__carousel-item">
                <div class="col">
                    <div class="partner-section__clients">
                        <img src="images/temp/logo-clients-1.png" alt="">
                    </div><!-- /partner-section__clients -->

                    <div class="partner-section__clients">
                        <img src="images/temp/logo-clients-2.png" alt="">
                    </div><!-- /partner-section__clients -->

                    <div class="partner-section__clients">
                        <img src="images/temp/logo-clients-4.png" alt="">
                    </div><!-- /partner-section__clients -->
                </div><!-- /col -->

                <div class="col">
                    <div class="partner-section__clients">
                        <img src="images/temp/logo-clients-4.png" alt="">
                    </div><!-- /partner-section__clients -->

                    <div class="partner-section__clients">
                        <img src="images/temp/logo-clients-3.png" alt="">
                    </div><!-- /partner-section__clients -->

                    <div class="partner-section__clients">
                        <img src="images/temp/logo-clients-1.png" alt="">
                    </div><!-- /partner-section__clients -->
                </div><!-- /col -->
            </div><!-- /partner-section__carousel-item -->
        </div><!-- /partner-section__carousel -->
    </div><!-- /partner-section -->
</div><!-- /partner-section-wrapper -->