<div class="partner-section" style="background: #000000;">
    <div class="partner-section__carousel">
        <div class="partner-section__carousel-item">
            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-1.png" alt="">
            </div><!-- /partner-section__clients -->

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-2.png" alt="">
            </div><!-- /partner-section__clients -->

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-3.png" alt="">
            </div><!-- /partner-section__clients -->

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-4.png" alt="">
            </div><!-- /partner-section__clients -->

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-5.png" alt="">
            </div><!-- /partner-section__clients -->
        </div><!-- /partner-section__carousel-item -->
    </div><!-- /partner-section__carousel -->
</div><!-- /partner-section -->