<div class="promotion-platforms">
    <div class="promotion-platforms__title">
        С чем работаем:
    </div><!-- /promotion-platforms__title -->
    <div class="promotion-platforms__carousel-container">
        <div class="promotion-platforms__carousel">
            <h4 class="promotion-platforms__carousel-item">
                Яндекс Директ
            </h4><!-- /promotion-platforms__carousel-item -->

            <h4 class="promotion-platforms__carousel-item">
                Google Ads
            </h4><!-- /promotion-platforms__carousel-item -->

            <h4 class="promotion-platforms__carousel-item">
                Яндекс Маркет
            </h4><!-- /promotion-platforms__carousel-item -->

            <h4 class="promotion-platforms__carousel-item">
                Веб-аналитика
            </h4><!-- /promotion-platforms__carousel-item -->
        </div><!-- /promotion-platforms__carousel" -->
    </div><!-- /promotion-platforms__carousel-container -->
</div><!-- /promotion-platforms -->