<div class="youtube-section">
    <div class="youtube-section__title">
    </div><!-- /youtube-section__title -->

    <div class="youtube-section__carousel">
        <div class="youtube-section__carousel-item">
            <div class="youtube-section__card">
                <div class="youtube-section__card-video">
                    <img src="images/Rectangle 5.3.png" alt="">
                </div>
                <h4 class="youtube-section__card-title">
                    Преступления и наказания:
                    всё о санкциях Google
                </h4>
                <span class="youtube-section__card-time">
                    32:12
                </span>
            </div><!-- /youtube-section__card -->

            <div class="youtube-section__card">
                <div class="youtube-section__card-video">
                    <img src="images/Rectangle 5.4.png" alt="">
                </div>
                <h4 class="youtube-section__card-title">
                    Синдром Сноудена: как много
                    о вас знают рекламщики?
                </h4>
                <span class="youtube-section__card-time">
                    32:12
                </span>
            </div><!-- /youtube-section__card -->

            <div class="youtube-section__card">
                <div class="youtube-section__card-video">
                    <img src="images/Rectangle 5.5.png" alt="">
                </div>
                <h4 class="youtube-section__card-title">
                    15 сервисов для отложенного 
                    постинга в соцсетях
                </h4>
                <span class="youtube-section__card-time">
                    32:12
                </span>
            </div><!-- /youtube-section__card -->
        </div><!-- /youtube-section__carousel-item -->
    </div><!-- /youtube-section__carousel -->
</div><!-- /youtube-section -->