.basic-form {
    &__row-inputs {
        display: flex;
        margin-bottom: 20px;
    }
    
    &__input-box {
        input {
            height: 64px;
            width: 285px;
        }
    }
    
    &__input-confirm {}
}