.basic-form {
    &__row-inputs {
        display: flex;
        margin-bottom: 20px;

        @include respond(xs) {
            flex-direction: column;
            margin-bottom: 0px;
        }
    }
    
    &__input-box {
        @include respond(xs) {
            margin-bottom: 16px;
        }
    }

    &__input {
        height: 64px;
        width: auto;
        border: none;
        padding: 20px 16px;

        &_bg-gray {
            background-color: $fade;
        }

        @include respond(xs) {
           width: 100%;
        }
    }

    &__button {
        @include respond(xs) {
            width: 100%;
         }
    }
    
    &__input-confirm {
        color: $light-blue;

        &_aqua {
            color: $aqua;
        }
    }

    .checkbox {
        display: flex;
    }

    .checkbox__bullet {
        margin-right: 10px;
    }

    .checkbox__label {
        cursor: pointer;
    }
}