html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
    color: #505565;
    background-color: #F3F6FA;
}

h1, h2, h3, h4 {
    margin: 0rem 0rem 1.5rem 0rem;
    color: #292A6B;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

h3, h4, h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

p {
    margin: 0rem 0rem 1.5rem 0rem;
    font-size: 1.25rem;
	line-height: 1.57;
}

a {
    text-decoration: none;
	color: #348AD9;
	transition: all 0.15s ease-in;	
}

a:hover {
    text-decoration: underline;
	color: #348AD9;
}

img {
	display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

b {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.button {
	border: none;
	font-size: 20px;
	padding: 20px 24px;
	color: #ffffff;
	background: $button;
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	text-decoration: none !important;
    text-align: center;
    white-space: nowrap;
	cursor: pointer;
    transition: all 0.15s ease-in;

    &_block {
        display: block;
        width: 100%;
    }

    &_blue {
        background: $dark-blue;
    }

    &_lightblue {
        background: #348AD9;
    }

    &_transparent {
        background: transparent;
    }
}

.page-wrapper {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    &:after {
        content: "";
        position: absolute;
        top: 16px;
        right: 16px;
        bottom: 16px;
        left: 16px;
        pointer-events: none;
        border: 8px solid $dark-blue;

        @include respond(lg) {
            display: none;
        }
    }
}

.layout-center {
    box-sizing: content-box;
    max-width: 1152px;
    
    margin: 0 auto;
    padding: 0 120px;

    @include respond(lg) {
        padding: 0 60px;
    }

    @include respond(md) {
        padding: 0 40px;
    }

    @include respond(sm) {
        padding: 0 30px;
    }

    @include respond(xs) {
        padding: 0 24px;
    }
}

.main {
    flex-grow: 1;
}

.relative-section {
    position: relative;
}

.logo {
    line-height: 0;

    a {
        text-decoration: none !important;
    }
}

.logo-icon {
    width: 114px;
    height: 48px;
}

.logo-icon-mobile {
    width: 52px;
    height: 48px;
}


.nav {
    &__list {}
    
    &__list-item {}

    &__list-item-link {
        text-decoration: none;
        color: #ffffff;
        
        &:hover {
            color: #ffffff;
        }
    }
}

.page-title {
    font-size: 4.5rem;
    color: #ffffff;
    padding-top: 13.3rem;
    padding-bottom: 14.6rem;
    margin: 0;
    text-transform: uppercase;
}

.half-number {
    font-size: 2rem;
    color: $dark-blue;
    opacity: 0.3;
    font-weight: 900;
    overflow: hidden;
    text-indent: -0.5rem;
}

.copyrights {
    display: block;
    font-size: 0.875rem;
    color: $aqua;
}

// ***************** ASSETS
.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: white;
}

.text-aqua {
    color: $aqua;
}

.text-gray {
    color: $text;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.bg-white {
    background-color: #ffffff;
}

.bigger {
    text-transform: uppercase;

    span {
        font-weight: 400;
        display: block;
        text-transform: none;
    }
}

.box-shadow {
    box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
}
// ***************** ASSETS