*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
    color: #505565;
    background-color: #E5E5E5;
}

h1, h2, h3, h4 {
    margin: 0rem 0rem 1.5rem 0rem;
    color: #292A6B;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

h3, h4, h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

p {
    margin: 0rem 0rem 1.5rem 0rem;
    font-size: 1.25rem;
	line-height: 1.57;
}

a {
    text-decoration: none;
	color: #348AD9;
	transition: all 0.15s ease-in;	
}

a:hover {
    text-decoration: underline;
	color: #348AD9;
}

img {
	display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

b {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


// ***************** ASSETS
.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}
// ***************** ASSETS
.button {
	border: none;
	font-size: 1.25rem;
	padding: 1.25rem 1.5rem;
	color: #ffffff;
	background: $button;
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	text-decoration: none !important;
    text-align: center;
    white-space: nowrap;
	cursor: pointer;
    transition: all 0.15s ease-in;

    &_dark-blue {
        background: $dark-blue;
    }
}


.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &:after {
        content: "";
        position: absolute;
        top: .875rem;
        right: .875rem;
        bottom: .875rem;
        left: .875rem;
        pointer-events: none;
        border: 0.4rem solid $dark-blue;
    }
}

.layout-center {
    max-width: 1152px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.relative-section {
    position: relative;
}

.logo {
    display: inline-block;
    padding: 8px 12px;
    color: #ffffff !important;
    border: 3px solid #ffffff;
    text-decoration: none !important;
    font-weight: 900;
    outline: none !important;
    white-space: nowrap;

    &__item {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.75rem;

        &_2 {    
            padding-left: 4px;
            font-size: 0.95rem;
            line-height: 0.9;
            font-weight: 400;
        }
    }
}

.nav {
    &__list {}
    
    &__list-item {}

    &__list-item-link {
        text-decoration: none;
        color: #ffffff;
        
        &:hover {
            color: #ffffff;
        }
    }
}

.copyrights {
    color: #ffffff;
    font-size: 0.875rem;
    padding-bottom: 50px;
}