.footer {
    background-color: $light-blue;

    &__container {
        padding-top: 70px;
    }

    &__content {
        display: flex;
        margin-bottom: 20px;
    }
    
    &__col {
        flex-basis: 30%;

        &_nav {
            flex-basis: 40%;
        }
    }
    
    &__nav {
        display: flex;
    }
    
    &__list {
        padding-right: 50px;
    }
    
    &__list-item {
        margin-bottom: 10px;
    }
    
    &__contacts-list{}
    
    &__contacts {
        margin-bottom: 10px;

        a {
            color: #ffffff;
           
            &:hover {
                color: #ffffff; 
            }
        }

        &_tel {}
        
        &_email {}
        
        &_adress {
            color: #B0D9FF;
            font-size: 0.875rem;

            &:hover {
                color: #B0D9FF;
            }

        }
    }

    &__copyrights {
        margin-bottom: 60px;
    }
}