.head-section { 
    background-color: $light-blue;
    margin-bottom: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 72px; left: 0;
    z-index: 1;
    width: 100%;

    @include respond(md) {
        top: 24px;
    }

    &__logo {
        .logo-icon {
            @include respond(md) {
                display: none;
            }
        }
        
        .logo-icon-mobile {
            display: none;

            @include respond(md) {
                display: block;
            }
        }
    }

    &__nav {
        font-weight: 500;
        text-transform: uppercase;

        @include respond(xl) {
            text-transform: none;
            font-weight: 400;
        }

        .nav__list {
            display: flex;
            
        }        
    
        .nav__list-item {
            display: flex;
            
            &:not(:last-child) {
                padding-right: 30px;

                @include respond(xl) {
                    padding-right: 16px;
                }
            }
        }
    
        .nav__list-item-link {
            display: block;
            padding-bottom: 15px;
            position: relative;
            text-decoration: none;
            
            &:after {
                content: "";
                position: absolute;
                left: 0; bottom: 0;
                width: 100%;
                height: 3px;
                background: #ffffff;
                opacity: 0;
                transform: scaleX(0.01);
                transition-duration: 0.3s;    
            }

            &:hover {
                &:after {
                    opacity: 1;
                    transform: scaleX(1)
                }
            }

            &_selected {
                color: $dark-blue;
                
                &:after {
                    opacity: 1;
                    background: $dark-blue;
                    transform: scaleX(1);
                }
            }
        }

        @include respond(md) {
            display: none; //////// временно
        }
    }

    &__tel {
        font-size: 16px;
        font-weight: 500;
        padding: 15px 16px;
        color: #ffffff;

        &:hover {
            color: #ffffff;
        }

        @include respond(lg) {
            font-size: 14px;
            font-weight: 400;
        }

        @include respond(md) {
            display: none; //////// временно
        }
    }

    &__menu {
        display: none;

        @include respond(md) {
            display: block;
        }
    }

    .menu-icon {
        width: 24px;
        height: 21px;
        fill: #ffffff;
    }

///***********  BLOG

    &_blog {
        position: static;
        padding-top: 72px;
        flex-direction: column;
        width: 100%;

        .header__top {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 45px;

            @include respond(md) {
                margin-bottom: 85px;
            }
        }

        .header__bottom {
            width: 100%;
            overflow-x: auto;
            
            .header__nav {
                display: block;
                margin: 0;
                padding: 0;
                text-transform: none;
                font-weight: 400;

                @include respond(xs) {
                    font-size: 24px;
                }
            }


            .nav__list-item {
                display: flex;
                 
                &:not(:last-child) {
                    padding-right: 30px;
    
                    @include respond(xl) {
                        padding-right: 26px;
                    }
                    
                    @include respond(md) {
                        padding-right: 24px;
                    }
                }

                @include respond(md) {
                    flex-shrink: 0;
                    flex-grow: 0;
                }
            }

            .nav__list-item-link {
                .counter {
                    font-size: 14px;
                    color: $aqua;
                    
                    @include respond(sm) {
                        font-size: 18px;
                    }
                }

                &_selected {
                    .counter {
                        color: $dark-blue !important;
                    }
                }
            }
        }

        @include respond(md) {
            padding-top: 24px;
        }

        .header__logo {
            margin-right: 16px;
        }

        .header__title {
            color: #ffffff;
            font-size: 1.75rem;
            text-transform: uppercase;
            margin-bottom: 0px;
        }

        .header__left-side {
            align-items: center;
        }

        .header__right-side {
            @include respond(md) {
                align-items: center;
            }
        }

        .header__left-side,
        .header__right-side {
            display: flex;
        }

        .header__nav {
            margin-right: 30px;
        }

        .header__search-container {
            @include respond(md) {
                margin-right: 35px;
            }
        }

        .header__svg-box {
            display: block;
            cursor: pointer;
        }

        .search-icon {
            width: 18px;
            height: 18px;
            fill: #ffffff;
        }
    }
}

