.head-section { 
    background-color: $light-blue;
    margin-bottom: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 72px; left: 0;
    z-index: 1;
    width: 100%;

    @media only screen and (max-width: 1023px) {
        top: 24px;
    }

    &__logo {
        .logo-icon {
            @media only screen and (max-width: 1023px) {
                display: none;
            }
        }
        
        .logo-icon-mobile {
            display: none;

            @media only screen and (max-width: 1023px) {
                display: block;
            }
        }
    }

    &__nav {
        font-weight: 500;
        text-transform: uppercase;

        @media only screen and (max-width: 1399px) {
            text-transform: none;
            font-weight: 400;
        }

        .nav__list {
            display: flex;
            
        }        
    
        .nav__list-item {
            display: flex;
            
            &:not(:last-child) {
                padding-right: 30px;

                @media only screen and (max-width: 1399px) {
                    padding-right: 16px;
                }
            }
        }
    
        .nav__list-item-link {
            display: block;
            padding-bottom: 15px;
            position: relative;
            text-decoration: none;
            
            &:after {
                content: "";
                position: absolute;
                left: 0; bottom: 0;
                width: 100%;
                height: 3px;
                background: #ffffff;
                opacity: 0;
                transform: scaleX(0.01);
                transition-duration: 0.3s;    
            }

            &:hover {
                &:after {
                    opacity: 1;
                    transform: scaleX(1)
                }
            }

            &_selected {
                color: $dark-blue;
                
                &:after {
                    opacity: 1;
                    background: $dark-blue;
                    transform: scaleX(1);
                }
            }
        }

        @media only screen and (max-width: 1023px) {
            display: none; //////// временно
        }
    }

    &__tel {
        font-size: 16px;
        font-weight: 500;
        padding: 15px 16px;
        color: #ffffff;

        &:hover {
            color: #ffffff;
        }

        @media only screen and (max-width: 1199px) {
            font-size: 14px;
            font-weight: 400;
        }

        @media only screen and (max-width: 1023px) {
            display: none; //////// временно
        }
    }

    &__menu {
        display: none;

        @media only screen and (max-width: 1023px) {
            display: block;
        }
    }

    .menu-icon {
        width: 30px;
        height: 35px;
        fill: #ffffff;

        @media only screen and (max-width: 767px) {
            width: 24px;
            height: 21px;
            margin-bottom: 6px;
        }
    }
}
