.main-footer {
    background-color: $light-blue;

    &__container {
        padding-top: 40px;
    }
    
    &__content {
        display: flex;
        margin-bottom: 55px;
    }
    
    &__title {
        flex-basis: 30%;
        color: #ffffff;
        font-size: 4.5rem;
        line-height: 1.1;

        span {
            font-size: 3.5rem;
        }
    }
    
    &__box {
        padding: 130px 0px 0px 90px;
        flex-basis: 70%;
    }
    
    &__contacts-list {
        margin-bottom: 30px;
    }
    
    &__contacts {
        color: #ffffff;
        font-size: 1.25rem;
        margin-bottom: 20px;
        
        a {     
            color: #ffffff;

            &:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }

        &_tel {}
        
        &_email {}
        
        &_adress {}
    }
    
    &__svg-box {
        text-align: center;
        width: 25px;
        margin-right: 20px;
    }

    &__svg {
        fill: #53A1EA;

        &_tel {
            width: 24px;
            height: 24px;
        }
        
        &_email {
            width: 25px;
            height: 18px;
        }   
        
        &_adress {
            width: 16px;
            height: 24px;
        }
    }

    &__basic-form {
        margin-left: 50px;

        .basic-form__row-inputs {
        }
        
        .basic-form__input-box {
        }

        .basic-form__input {
            min-width: 275px;
        }
        
        .basic-form__input-confirm {
        }
    }

    &__copyrights {
        margin-bottom: 50px;
    }
}
