.metainfo {
    color: $secondary;
    display: flex;

    &__item {        
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    &__author {}
    
    &__author-pic {}
    
    &__category {}
    
    &__date {}
    
    &__views {}
    
    &__comments {}

    &__icon {
        fill: $icon;
        display: inline-block;
        vertical-align: middle;

        &_category {
            width: 24px;
            height: 24px;
        }
        
        &_date {
            width: 18px;
            height: 18px;
        }
        
        &_views  {
            width: 20px;
            height: 20px;
        }
        
        &_comments {
            width: 21px;
            height: 14px;
        }
    }
}