.metainfo {
    color: $secondary;
    display: flex;
    align-items: center;

    &__item {        
        .meta-bit {
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    &__author {}
    
    &__author-pic {
        width: 32px;
        height: 32px;
    }
    
    &__category {}
    
    &__date {}
    
    &__views {}
    
    &__comments {}

    &__icon {
        fill: $icon;
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;

        &_category {

        }
        
        &_date {

        }
        
        &_views  {

        }
        
        &_comments {

        }
    }

    &_blog {
        margin-bottom: 25px;
        flex-wrap: wrap;

        .col {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .metainfo__item {
            margin-right: 27px;
            margin-bottom: 10px;
            white-space: nowrap;

            .meta-bit {
            }
        }
        
        .metainfo__author {
            font-weight: 500;
        }

        .metainfo__author-name {
        }
        
        .metainfo__author-pic {
            margin-right: 8px;
        }
        
        .metainfo__icon {
            margin-right: 6px;
        }

        .metainfo__category {
        }
        
        .metainfo__date {}
        
        .metainfo__views {}
        
        .metainfo__comments {}

    }
}