.consult-request {
    position: absolute;
    right: 0; top: -185px;
    z-index: 10;
    width: 42%;
    padding: 45px 100px 70px 40px;
    background-color: #ffffff;

    &__text {
        font-size: 20px;
        margin-bottom: 40px;

        @include respond(lg) {
            font-size: 16px;
        }
    }

    &__button {
        @include respond(lg) {
            font-size: 16px;
        }
    }

    @include respond(xl) {
        padding: 45px 24px 70px 24px;
    }

    @include respond(sm) {
        display: none;
    }
}

.services-list-wrapper {
    margin-bottom: 230px;

    @include respond(md) {
        margin-bottom: 80px;
    }
    
    @include respond(sm) {
        margin-left: -30px;
        margin-right: -30px;
        padding: 65px 30px 20px 30px;
        margin-bottom: 0px;
        background-color: #ffffff;
    }

    @include respond(xs) {
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.services-list {
    width: 58%;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    
    &__item {
        flex-basis: 25%;
        padding-right: 40px;
        
        @include respond(xl) {
            padding-right: 32px;
        }

        @include respond(md) {
            flex-basis: 50%;
            padding-right: 60px;
            margin-bottom: 10px;
        }

        @include respond(sm) {
            font-size: 20px;
            margin-bottom: 20px;
        }
        
        @include respond(xs) {
            flex-basis: 100%;
            font-size: 24px;
            padding-right: 0px;
            margin-bottom: 40px;
        }
    }
    
    &__half-number {
        display: block;
        margin-bottom: 10px;

        @include respond(lg) {
            margin-bottom: 0px;
        }
    }

    @include respond(xl) {
        padding-right: 10px;
        font-size: 14px;
    }

    @include respond(md) {
        padding-right: 0px;
    }
 
    @include respond(sm) {
        width: 100%;
        margin-bottom: 0;
    }
}