.consult-request {
    position: absolute;
    right: 0; top: -185px;
    z-index: 10;
    width: 40%;
    padding: 40px 45px 70px 40px;
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    &__text {
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
}

.services-list-wrapper {
    margin-bottom: 14.3rem;
}

.services-list {
    width: 60%;
    display: flex;
    font-size: 1rem;

    &__item {
        flex-basis: 25%;
        padding-right: 35px;
    }

    &__half-number {
        margin-bottom: 10px;
        display: block;
    }
}