.team-section {
    position: relative;
    background-color: #ffffff;

    &__title {
        font-size: 4.5rem;
        line-height: 1.1;
        position: absolute;
        top: 50px; left: 50%;
        z-index: 1;

        .smaller {
            text-indent: -40px;
            font-size: 3.5rem;
        }
    }
    
    &__carousel {}
    
    &__carousel-item {}
    
    &__hero-card {
        display: flex;

        .image-wrapper {
            &:before {
                padding-top: 90%;
            }
        }
    }
    
    &__hero-image {
        flex-basis: 58%;
        padding: 90px 55px 0px 40px;
    }
    
    &__hero-info {
        padding-top: 260px;
        max-width: 300px;
    }
    
    &__hero-name{
        font-size: 2rem;
        font-weight: 500;
        color: $text;
    }
    
    &__hero-about {
        margin-bottom: 1.5rem;
    }
    
    &__hero-achievements {
        img {
            margin-right: 1rem;
        }
    }
}