.youtube-section {
    @include respond(sm) {
        padding-top: 50px;
    }

    &__title {
        font-size: 6.25rem;
        padding-left: 100px;
        margin-bottom: 110px;

        .smaller {
            font-size: 4rem;
        }


        @include respond(xl) {
            padding-left: 0px;
        }

        @include respond(md) {
            display: none;
        }

    }

    &__title-mobile {
        font-size: 2.5rem;
        margin-bottom: 40px;
        display: none;

        .smaller {
            font-size: 2.5rem;
            display: inline;
        }

        @include respond(md) {
            display: block;
        }
    }

    .owl-stage-outer {
        .owl-item {
            padding: 48px 20px;

            @include respond(md) {
                padding: 48px 8px;
            }
        }
    }

    &__carousel {
        display: flex;
        margin-left: -20px;
        margin-right: -20px;
        width: auto !important;

        @include respond(sm) {
            margin-bottom: 120px;
        }
    }

    &__carousel-item {
        display: flex;
        align-items: flex-start;
    }

    &__card {
        flex-basis: 33.333%;
        //min-width: 270px;
        background-color: #ffffff;
        box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.25);

        @include respond(md) {
            margin-right: 16px;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
        }

        &_lower {
            margin-top: 120px;

            @include respond(md) {
                margin-top: 0px;
            }
        }

        &_upper {
            margin-top: -48px;

            @include respond(md) {
                margin-top: 0px;
            }
        }

        .video-wrapper {
            &:before {
                padding-top: 65%;
            }
        }
    }

    &__card-video {
        margin-bottom: 30px;

        @include respond(md) {
            margin-bottom: 15px;
        }
    }

    &__card-content {
        padding: 0 40px;

        @include respond(xl) {
            padding: 0 16px;
        }
    }

    &__card-title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
        color: $text;

        @include respond(xl) {
            margin-bottom: 14px;
        }

        @include respond(md) {
            font-size: 16px;
            margin-bottom: 3px;
        }
    }

    &__card-time {
        display: block;
        margin-bottom: 35px;
        color: $secondary;

        @include respond(md) {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
}
