@import "variables";
@import "mixin";
@import "default";
@import "head-section";
@import "presentation";
@import "service-group";
@import "cases-section";
@import "promotion-platforms";
@import "free-service";
@import "basic-form";
@import "youtube-section";
@import "partner-section";
@import "blog-briefs";
@import "team-section";
@import "head-teaser";
@import "advantages";
@import "company-status";
@import "achievements";
@import "platform-cards";
@import "subscribe";
@import "social";
@import "blog-card";
@import "metainfo";
@import "comments";

@import "../vendors/OwlCarousel2-2.3.4/owl.carousel";

@import "main-footer";
@import "footer";


.team-slider {
	/*min-height: 816px;*/
	position: relative;
	z-index: 0;
}

.team-slider .team-slider__image {
	text-align: center;
}

.team-slider .team-slider__image img {
	display: none;

	transition: all 2s ease 0s;
	transform: translate(-50px, 0);
	opacity: 0;
}

.team-slider .team-slider__image img.vis {
	display: inline;
}

.team-slider .team-slider__text {
	width: 550px;
	position: absolute;
	font-weight: 900;
	left: 50%; top: 50%;

	line-height: 126px;
	font-size: 100px;	
	color: #ffffff;
}

.team-slider .team-slider__text small {
	font-weight: 400;
	padding-left: 90px;
	line-height: 72px;
	font-size: 64px;
}

.team-slider .team-slider__text strong {
	display: block;
	margin-top: 12px;
	text-transform: uppercase;
	font-weight: 900;
}


.team-slider .team-slider__text-left {
	margin-left: -550px;
	margin-top: 30px;

	transition: all 1.5s ease 1.0s;
	transform: translate(-50px, 0);
	opacity: 0;
}

.team-slider .team-slider__text-right {
	width: 350px;
	margin-left: 200px;
	margin-top: -80px;

	text-align: center;
	line-height: 54px;	
	font-size: 48px;	

	transition: all 1.5s ease 0.5s;
	transform: translate(50px, 0);
	opacity: 0;

}

.team-slider .team-slider__text-right small {
	padding-left: 0px;
	line-height: 40px;
	font-size: 32px;
}


.team-slider.present .team-slider__image img,
.team-slider.present .team-slider__text-left,
.team-slider.present .team-slider__text-right {
	transform: translate(0, 0);
	opacity: 1;
}




//************* HOME PAGE

.cases-home-wrapper {
	margin-bottom: 96px;

	@include respond(md) {
		margin-bottom: 46;
	}
	
	@include respond(sm) {
		margin-bottom: 0;
	}
}

.promotion-platforms-home-wrapper {
	margin-bottom: 96px;

	@include respond(md) {
		margin-bottom: 46;
	}
	
	@include respond(sm) {
		margin-bottom: 0;
	}
}

.free-service-home-wrapper {
	margin-bottom: 173px;

	@include respond(md) {
		margin-bottom: 80px;
	}
	
	@include respond(sm) {
		margin-bottom: 0;
	}
}

.youtube-section-home-wrapper {
	margin-bottom: 96px;

	@include respond(md) {
		margin-bottom: 80px;
	}
	
	@include respond(sm) {
		margin-bottom: 0;
	}
}

.partner-section-home-wrapper {
	margin-bottom: 84px;

	@include respond(md) {
		margin-bottom: 70px;
	}
	
	@include respond(sm) {
		margin-bottom: 0;
	}
}

.blog-briefs-home-wrapper {
	margin-bottom: 180px;

	@include respond(md) {
		margin-bottom: 50px;
	}
	
	@include respond(sm) {
		margin-bottom: 0;
	}
}

.team-section-home-wrapper {
	margin-bottom: 128px;

	@include respond(md) {
		margin-bottom: 50px;
	}
	
	@include respond(sm) {
		margin-bottom: 0;
	}
}

//************* /HOME PAGE











//********************* article styles

.article__subscribe {
    margin-top: 48px;
    margin-bottom: 64px;

    @include respond(md) {
        margin-bottom: 48px;
    }
    
    @include respond(sm) {
        margin-right: -40px;
        margin-left: -40px;
    }

    @include respond(xs) {
        margin-right: -24px;
        margin-left: -24px;
    }
}

.article__tags-block {
    margin-bottom: 20px;
    width: 70%;

    @include respond(lg) {
		width: 80%;
    }
	
	@include respond(md) {
        width: 100%;
        margin-bottom: 28px;
    }
}

.article__tag {
    display: inline-block;
    padding: 2px 12px;
    border: 1px solid #D3D4D8;
    border-radius: 2px;
	margin: 0px 5px 5px 0px;
	color: inherit;
}

.article__tag:hover {
	text-decoration: none;
}

.article__share-block {
	margin-bottom: 70px;
}

.share {
	display: flex;
	justify-content: space-between;

	@include respond(xs) {
		flex-direction: column
	}

	&__text {
		display: block;
		font-size: 20px;
		color: $dark;
		margin-bottom: 14px;
	}

	&__repost {
		@include respond(xs) {
			margin-bottom: 38px;
		}
	}

	&__follow {}

	&__links {
		.more-social {
			width: 40px;
			height: 28px;
			background-color: $fade;
			display: inline-block;
			position: relative;
			cursor: pointer;

			&:before  {
				content: "+";
				position: absolute;
				font-size: 20px;
				font-weight: 500;
				color: #A1A4B1;
				left: 50%; top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.social__box { 
			width: 40px;
			height: 28px;
			margin-right: 5px;
		}
	
		.social__icon {
			&_vk {
				width: 16px;
				height: 9px;
			}
			
			&_facebook {
				width: 8px;
				height: 14px;
			}
			
			&_youtube {
				width: 16px;
				height: 11px;
			}
			
			&_inst {
				width: 16px;
				height: 16px;
			}
			
			&_telegram {
				width: 16px;
				height: 14px;
			}
			
			&_twitter {
				width: 14px;
				height: 11px;
			}
		}
	}
}

.others {
	padding-top: 60px;
	padding-bottom: 64px;
	background-color: #F3F6FA;

	&__title {
		font-size: 2.5rem;
		margin-bottom: 28px;

		@include respond(xs) {
			margin-bottom: 15px;
		}
	}

	&__post-list {
		display: flex;
		justify-content: space-between;
		overflow-x: auto;

		.blog-card {
			margin: 2px 0px 4px 2px;

			&:not(:last-child) {
				margin-right: 30px;
			}

			.image-wrapper {
				&:before {
					padding-top: 68%;
				}
			}
		}
	}
}
//********************* /article styles

